<h1> Place: <%= @assit.place %></h1>
<div>
  Address:  <%= @assit.address %>
</div>
<div>
  ategory: <%= @assit.category %>
</div>
<div>
  Story: <%= @assit.story %>
</div>
<div>
  rating: <%= @assit.rating %>
</div>
<div>
  Status <%= @assit.status %>
</div>