<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <% if user_signed_in?%>
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to 'Create Asset', new_assit_path, remote: true, class:'btn btn-dark text-white' %>
              <div id="modal-div-1"></div>
            </li>
            <li class="nav-item">
              <%= link_to 'All Asset', assits_path, class:'btn btn-dark text-white'%>
            </li>
            <li class="nav-item">
              <%= link_to 'Home', root_path, class:'btn btn-dark text-white'%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Surveys
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to 'New Survey', new_survey_path, class:'btn btn-white text-dark'%></li>
                <li><a class="dropdown-item" href="#">Survey Result</a></li>
              </ul>
            </li>
            <li class="nav-item">
                <li><%= link_to 'Profile', edit_user_registration_path, class:'btn btn-dark text-white'%></li>
            </li>
            <li class="nav-item">
              <%= button_to "Log out", destroy_user_session_path, method: :delete ,class:"nav-link  btn btn-dark text-white ",'aria-current':"page" %>
            </li>
          </ul>
        </div>
        <% else %>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, mehtod: :post, class:"nav-link  btn btn-dark text-white " %> 
            </li>
            <li class="nav-item">
              <%= link_to "Sign In", new_user_session_path, class:"nav-link  btn btn-dark ml-3 text-white " %>
            </li>
          </ul>
        </div>
       <% end %>
      </div>
  </div>
</nav>
